body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


button{
    background-color: rgb(13, 101, 218);
    color:rgb(255, 255, 255);
    border: none;
    padding: 8px 17px;
    border-radius: 3px;
    cursor: pointer;
    
}

section{
    flex: 1;
}

footer{
    align-self: flex-end;
}

button:hover {
    background-color: rgb(37, 42, 87);
}